html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center;
}
/* header */
header{
    /* display: flex;  */
    /* grid-template-columns: 20% 80%; */
    background-color: aliceblue transparent;
    position: fixed;
    width: 100%;
    text-align: center;
    margin: auto;
}
.nav{
    display: flex;
    padding: 5px 21px;
    margin: 8px 320px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #737f7f70;
    
   
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 7px 10px;
    
   }
   .nav a:hover{
       background-color: rgb(255, 249, 249);
       border-radius: 10px;
       color: gold;
   }
/*Menu section*/
.burger{
   display: none;
}
.burger .icon {
    position: fixed;
    top: 1.1em;
    right: 1.3em;
    text-decoration: none;
    transition: 1s;
  }
 

  /*content in menu*/
  
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 1s;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
 } 
 
 .overlay a{ 
    text-decoration: none;
    color: white;
    line-height: 2.5em;
    font-size: 29px;
    font-family: 'futura-pt','Arial','Tahoma';
 }
 .overlay a:hover{ 
   /* border-bottom: 2px solid white;
   border-bottom-width: 10px; */
   text-decoration: underline;
   text-underline-position: 2px below;
}
  
  .overlay .closebtn {
   
    top: 1em;
    position: absolute;
    right: 1.3em;
    text-decoration: none;
    
  }
  
  .overlay .closebtn:hover {
    text-decoration: none;
  }
  

.inner-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 40%;
} 
.inner-cont a{
    text-decoration: none;
}

/* Inner Text*/
.big-txt{
    color: rgb(41, 41, 42) !important;
    font-size: 4em;
    font-weight: 900;
    text-shadow: rgb(255 255 255 / 72%) 2px 2px 2px; 
    margin: 20px; 
    
}
.big-txt:nth-child(odd){
    position: relative;
    animation-name: example;
    animation-duration: 2s;
  }
  
@keyframes example {
    75%  { left:0px; top:299px;}
    100% { left:0px; top:0;}
  }

.btn{
    color: white;
    background-color: rgb(237,180,30);
    font-size: 1.5em;
    padding: 10px;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
}
 /*Backgrounds */

.bg1{
    width: 100%;
    height: 100vh;
    /* background-image: url("img2/main.jpg"); */
    /* background-color: blanchedalmond; */
    
}

#myVideo {
    position: fixed;
    width: inherit;
    z-index: -1;
}
  

.bg2{
    width: 100%;
    height: 100vh;
    background-image: url("img2/b.jpg");

}
.bg1::after {
    content: " ";
    display: block;
  }

.bg3{
    background-image: url("img2/cc.jpg");
    width: 100%;
    height: 100vh;
}
.bg4{
    background-image: url("img2/d.jpg");
    width: 100%;
    height: 100vh;
}

.bg5{
    background-image: url("img2/e.jpg");
    width: 100%;
    height: 100vh;
}

.bg6{
    background-image: url("img2/g.jpg");
    width: 100%;
    height: 100vh;
}

.bg7{
    background-image: url("img2/ff.jpg");
    width: 100%;
    height: 100vh;
}

.bg8{
   background-color: honeydew;
    width: 100%;
    height: 55%;
}


/* Footer section*/

footer{
    padding: 25px;
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
}
footer p{
    color:  rgb(237,180,30);
    
}
footer a{

    text-decoration: none;
    line-height: 30.5px;
    color: black;
}

footer a:hover{
    color:  rgb(237,180,30);
    cursor: pointer;  
}
.social{
    width: 23px;
    padding: 0px;
    margin: 17px 5px;
    border-radius: 10px;
    filter: grayscale(100%);
}

.social:hover{
    filter: grayscale(0);
    cursor: pointer;
}

/*Responsive*/
@media screen and (max-width: 1024px) {
    *{
        font-size: 0.8em;
        text-align: center;
        
    }
    .burger{
        display: flex;
        z-index: +1;
        width: 100%;
        align-items: flex-end;
    }
    header{
        display: none;
    }
 
     #myVideo {
         display: none;
     }
     
 .bg1{
     background-image: url("img2/main.jpg");
     width: 100vw;
     height: 100vh;
 }
 footer{
     display: grid;
     grid-template-columns: 50% 50% ;
     line-height: 10px;
   
 }
 footer a{
     line-height: 10px;
     
 }
     }
   